<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">ZipWeather</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto"> <!-- ms-auto pushes the items to the right -->
        <li class="nav-item">
          <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>